@model IEnumerable<CDMS.Model.Feedback>

@{
    Layout = null;
}

<p class="form-inline">
    @Html.ActionLink("ButtonCreate".ToLocalized(), "Create", "Feedback", new { area = "" }, new { @class = "btn btn-success fancybox fancybox.iframe" })
</p>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="active">
                <th>@Html.OutputText("TextFunction".ToLocalized())</th>
                <th>
                    @Html.DisplayNameFor(model => model.CX_Feedback)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NQ_Sort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CX_Feeback_Remarks)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @Html.ActionLink("ButtonEdit".ToLocalized(), "Edit", "Feedback", new { id = item.ID_Feedback, area = "" }, new { @class = "btn btn-primary fancybox fancybox.iframe" })

                            @if (!item.Inspection.Any())
                            {
                                @Html.ActionLink("ButtonDelete".ToLocalized(), "Delete", "Feedback", new { id = item.ID_Feedback, area = "" }, new { @class = "btn btn-danger fancybox fancybox.iframe" })
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CX_Feedback)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.NQ_Sort)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CX_Feeback_Remarks)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="99">@Html.OutputText("TextNoData".ToLocalized())</td></tr>
            }
        </tbody>
    </table>
</div>

@Html.Hidden("p", (Int32)@ViewBag.p)
@using PagedList
@using PagedList.Mvc
@Html.PagedListPager((IPagedList)Model, page => Url.Action("_List", new { txt = ViewBag.txt, orderby = ViewBag.orderby, sort = ViewBag.sort, page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<<",
            LinkToPreviousPageFormat = "<",
            LinkToNextPageFormat = ">",
            LinkToLastPageFormat = ">>"
        },
        new AjaxOptions()
        {
            HttpMethod = "Post",
            UpdateTargetId = "Content"

        }))







