@model CDMS.Model.ViewModel.InquiryComplex

@{
    Layout = "~/Views/Shared/_GridForm.cshtml";
}

@Html.Partial("~/Views/Shared/_ProgramName.cshtml", new ViewDataDictionary { { "id", "詢價單資料維護" } })

@using (Ajax.BeginForm("Edit", "Inquiry", new { area = "" }, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBegin", OnSuccess = "OnSuccess", OnComplete = "OnComplete" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_Body")

    <!--(start)toolbar(start)-->
    <div class="grid-container outline">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-warning" id="btnAdd">
                <span class="glyphicon glyphicon-plus"></span>
                @Html.OutputText("ButtonCreate".ToLocalized())
            </button>
            <input type="submit" value="@Html.OutputText("ButtonSave".ToLocalized())" class="btn btn-success" name="action:Edit" />
            <input type="submit" value="@Html.OutputText("ButtonDelete".ToLocalized())" class="btn btn-danger" name="action:Delete" />

            @Html.ActionLink("ButtonPrint".ToLocalized(), "Print", new { id = Model.Inquiry.InquiryID, area = "" }, new { @class = "btn btn-primary hidden" })
            <input type="button" value="@Html.OutputText("ButtonClose".ToLocalized())" onclick="parent.jQuery.fancybox.close();" class="btn btn-inverse" />
        </div>
    </div>
    </div>
    <!--(end)toolbar(end)-->
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // 上下左右
            $('#table').enableCellNavigation();
        });//$(document).ready(
    </script>
    <script type="text/javascript">
        var globaldata = [];

        $(document).ready(function () {
            var options = {
                ajax: {
                    @*url: '@Url.Action("GetForSupplierAutocomplete", "Company")',*@
                    data: function () {
                        var params = {
                            term: '{{{q}}}'
                        };
                        //if (gModel.selectedGroup().hasOwnProperty('ContactGroupID')) {
                        //    params.GroupID = gModel.selectedGroup().ContactGroupID;
                        //}
                        return params;
                    }
                },
                clearOnEmpty: false,
                preserveSelected: true,
                locale: {
                    emptyTitle: '請選擇',
                    currentlySelected: '目前選取',
                    searchPlaceholder: '關鍵字',
                    statusInitialized: '請輸入關鍵字查詢',
                    statusNoResults: '查無資料',
                },
                preprocessData: function (data) {
                    var contacts = [];
                    globaldata = [];
                    //console.log('data', data);
                    $('#txtContactPerson').val('');
                    $('#txtContactPhone').val('');

                    contacts.push({ value: '', text: '@("TextSelect".ToLocalized())' });

                    if (data) {
                        $.each(data, function (index, item) {
                            //
                            globaldata.push(item);

                            contacts.push(
                                {
                                    'value': item.Value,
                                    'text': item.Value + '-' + item.Label,
                                    'data': {
                                        'icon': 'icon-person',
                                        'subtext': ''
                                    },
                                    'disabled': false
                                }
                                );
                        });
                    }
                    return contacts;
                },
            };

            $('.selectpicker.after-init').each(function (index, value) {
                var self = $(value);

                var selected = self.val();
                self.find('[value != "' + selected + '"]').remove();

                self.selectpicker('refresh');
            });

            $('.selectpicker').selectpicker().filter('.with-ajax').ajaxSelectPicker(options);

            $('.selectpicker').on('changed.bs.select', function (e) {
                console.log('globaldata', globaldata);
                var value = $(this).val();

                var wanted = $.grep(globaldata, function (item) {
                    console.log('v', item.Value, item.Value == value);
                    return item.Value == value;
                });

                if (wanted.length == 0) {
                    $('#txtContactPerson').val('');
                    $('#txtContactPhone').val('');
                    return;
                }

                var source = wanted[0].Source;
                $('#txtContactPerson').val(source.ContactPerson);
                $('#txtContactPhone').val(source.Telephone1);
            });
        });
    </script>
}





