<h4>
    @Html.OutputText("MenuInspection".ToLocalized())
</h4>



<form class="form-inline" role="form" onsubmit="return false;">
    <div class="form-group">
        <input type="text" id="SearchText" class="form-control col-xs-4" placeholder="@Html.OutputText("CX_Content".ToLocalized())" />
    </div>
    <div class="form-group">
        @Html.DropDownList("Store", ViewBag.SotreList as SelectList,
        "TextSelect".ToLocalized() + "ID_Store".ToLocalized(), new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownList("Status", ViewBag.StatusList as SelectList,
        "TextSelect".ToLocalized() + "ID_Status".ToLocalized(), new { @class = "form-control" })
    </div>
    <div class="form-group">
        <select id="OrderBy" class="form-control col-xs-4">
            <option value="ID_Inspection">@Html.OutputText("TextDefault".ToLocalized())</option>
            <option value="CX_Date" selected="selected">@Html.OutputText("CX_Date".ToLocalized())</option>
        </select>
    </div>
    <div class="form-group">
        <select id="Sort" class="form-control col-xs-4" data-show-icon="true">
            <option value="asc">▲</option>
            <option value="desc" selected="selected">▼</option>
        </select>
    </div>
    <input type="button" id="SearchButton" class="btn btn-warning" value="@Html.OutputText("ButtonSearch".ToLocalized())" />
</form>

<hr />
<div id="Content">
</div>
@section scripts{
    <script>
        $(function () {

            $('#SearchButton').click(function () {
                $('#p').val('1');
                Init();
            });

            $("#SearchText").keypress(function (e) {
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    $('#p').val('1');
                    Init();
                }
            });

            $('.fancybox').fancybox({
                minHeight: 400,
                closeBtn: false, // 是否顯示關閉按紐
                helpers: {
                    // 防點擊背景時關閉
                    overlay: { closeClick: false }
                },
                keys: {
                    // 防點擊ESC時關閉
                    close: null
                }
            });

            Init();
        });

        function Init() {

            var p = $('#p').val();
            var txt = $('#SearchText').val();
            var orderby = $('#OrderBy').val();
            var sort = $('#Sort').val();
            var store = $('#Store').val();
            var status = $('#Status').val();
           // var btn = $('.btn');
            $.ajax({
                cache: false,
                type: "Post",
                url: '@Url.Action("_List", "Inspection", new { area = "" })',
                async: false,
                data: { store: store, status: status, txt: txt, page: p, orderby: orderby, sort: sort },
                beforeSend: function () {
                   // btn.button('loading');
                },
                complete: function () {
                    
                },
                success: function (data) {                   
                    $("#Content").html(data);
                   // btn.button('reset');
                },
                error: function (xhr, status, error) {
                    alert('xhr:' + xhr.status + 'status:' + status + ' ,error:' + status);
                   // alert(JSON.parse(xhr.responseText));
                }
            });
        }
    </script>
}












