@using CDMS.Web.Helpers
@{
    var defaultAttribute = new { @class = "form-control" };
}
<link href='@Url.Content("~/Content/responsive-table.css")' rel="stylesheet" />
<form class="form-inline" role="form" onsubmit="return false;" id="myForm">
    <table class="table table-striped table-bordered table-rwd">
        <tr>
            <td data-th="" colspan="4">
                @Html.Label("TextCriteria".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
        </tr>
        <tr>
            <td data-th="序號" class="col-1 title">
                @Html.Label("TextProductStartEnd".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="序號" class="col-2">
                <input type="text" name="start" class="form-control" />
                @("TextTo".ToLocalized())
                <input type="text" name="finish" class="form-control" />
            </td>
            <td data-th="序號" class="col-1 title">
                @Html.Label("TextProductName".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="序號" class="col-2">
                <input type="text" name="txt" class="form-control" />
            </td>
        </tr>
        <tr>
            <td data-th="序號" class="col-1 title">
                @Html.Label("TextProductKind".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="序號" class="col-5" colspan="3">
                @Html.DropDownList("productKind", ViewBag.ProductKindList as MultiSelectList,
                Html.MergeAttributes(
                    new { multiple = "multiple", @class = "selectpicker text-danger" }, defaultAttribute)
                )
            </td>
        </tr>
    </table>
    <input type="button" id="SearchButton" class="btn btn-warning" value="@Html.OutputText("ButtonSearch".ToLocalized())" />
</form>
<hr />
<div id="MyContent">
</div>
@section scripts{
    <script>
        $(function () {

            $('#SearchButton').click(function () {
                $('#p').val('1');
                Init();
            });

            $("#SearchText").keypress(function (e) {
                code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    $('#p').val('1');
                    Init();
                }
            });

            Init();
        });

      function Init() {
           var url = '@Url.Action("_List", new { area = "" })';
           // 利用這方法可以把所有欄位送到controller
           var source = $('#myForm').serializeArray();
           var data = GetParameters(source);

           console.log('data', source, data);

           postAjax(url, data, function (result) {
                $("#MyContent").html(result);
            });
        }
    </script>
}










