@using CDMS.Web.Helpers
@{
    var defaultAttribute = new { @class = "form-control", required = "required" };
    var labelAttribute = new { @class = "control-label" };
}

<form class="form-inline" role="form" onsubmit="return false;" id="myForm">
    <table class="table table-striped table-bordered table-rwd">
        <tr>
            <td data-th="" colspan="4">
                @Html.Label("TextCriteria".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
        </tr>

        <tr>
            <td data-th="" class="col-1 title">
                @Html.Label("TextClassification".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="@("TextClassification".ToLocalized())" class="col-2">
                @Html.DropDownList("classification", ViewBag.ClassificationList as MultiSelectList,
                Html.MergeAttributes(
                    new { @class = "selectpicker text-danger" }, defaultAttribute)
                )         
            </td>
            <td data-th="" class="col-1 title">
                @Html.Label("TextSalesDate".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="@("TextSalesDate".ToLocalized())" class="col-2">
                <input type="text" name="dateStart" class="form-control datepicker" />
                @("TextTo".ToLocalized())
                <input type="text" name="dateFinish" class="form-control datepicker" />
            </td>           
        </tr>
        <tr>
            <td data-th="" class="col-1 title">
                @Html.Label("TextWarehouseNo".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="" class="col-2">
                @Html.DropDownList("wareHouse", ViewBag.WarehouseList as MultiSelectList,
                Html.MergeAttributes(
                    new { multiple = "multiple", @class = "selectpicker text-danger" }, defaultAttribute)
                )
            </td>
            <td data-th="序號" class="col-1 title">
                @Html.Label("TextProductStartEnd".ToLocalized(), htmlAttributes: new { @class = "control-label" })
            </td>
            <td data-th="序號" class="col-2">
                <input type="text" name="start" class="form-control" />
                @("TextTo".ToLocalized())
                <input type="text" name="finish" class="form-control" />
            </td>            
        </tr>
    </table>
    <input type="button" id="SearchButton" class="btn btn-warning" value="@Html.OutputText("ButtonSearch".ToLocalized())" />
</form>

<hr />
<div id="MyContent"></div>

<div id="MyDetails"></div>

@section scripts{
    <script>
        $(function () {      
            $('#SearchButton').click(function () {
                $('#p').val('1');
                Init();
            });

            $('#MyContent').on('click','.details', function () {
                console.log('details', $(this));
                ShowDetails($(this));
            });

            Init();
        });

        function Init() {
            var url = '@Url.Action("_List", new { area = "" })';
            // 利用這方法可以把所有欄位送到controller
            var source = $('#myForm').serializeArray();
            var data = GetParameters(source);

            console.log('data', source, data);

            postAjax(url, data, function (result) {
                $("#MyContent").html(result);
                $("#MyDetails").html('');
            });
        }

        function ShowDetails(self) {
            var url = '@Url.Action("_TrackList", new { area = "" })';
            
            var data = {
                dateStart: $(self).data('dateStart'),
                dateFinish: $(self).data('dateFinish'),
                product: $(self).data('product')
            };

            console.log('data' , data);

            postAjax(url, data, function (result) {
                $("#MyDetails").html(result);
            });
        }
    </script>
}










